body{
  background-color: #fbfbfb;
  margin : 0px 32px;
}
.card-tittle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  color: #646464;
}
.list-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  flex-start;

}
.item{
  margin: 12px;
  text-align: center;
}
.card-box{
  border: none;
  background-color: #fff;
  padding: 12px;
  cursor:pointer;
  border:1px solid  #cccccc;
  color: #010162;
  font-weight: 500;
}
.card-box:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 6px;
  border: 1px solid rgb(190, 190, 190);
}
.image-container{
  display:flex;
  flex-direction: row;
}
.image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-card{
    width: 150;
    margin: 12px;
    text-align: center;
    cursor:pointer;
}
.image-preview{
  margin: 12px;
}
.image-preview img{
  width: 300px;
  position: sticky;
  top: 25px;
}
.active{
  border: 1px solid rgb(2 73 233);
  padding: 2px;
}