.body{
  background-color:#fff;
}
.card-tittle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  color: #646464;
}
.list-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  flex-start;

}
.item{
  /* width: 25%; */
  margin: 12px;
  text-align: center;
}
.card-box{
  /* width: 100px; */
  border: none;
  background-color: #fff;
  padding: 12px;
  cursor:pointer;
  border:1px solid  #010162;
  color: #010162;
  font-weight: 500;
}
.card-box:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 6px;
  border: 1px solid rgb(190, 190, 190);
}
.image-container{
  display:flex;
  flex-direction: row;
}
.image-gallery{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 10px; */
}
.img-card{
    width: 150;
    margin: 12px;
    text-align: center;
    cursor:pointer;
}
.image-preview{
  margin: 12px;
}
.image-preview img{
  width: 300px;
  position: sticky;
  top: 25px;
}
.active{
  border: 1px solid rgb(2 73 233);
  padding: 2px;
}